<style>
    .active-tab {
        background-color: green;
        color: white !important;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 5px;
    }
</style>

<nav class="navbar navbar-expand navbar-light">
    <ul class="nav navbar-nav" id="navbar-in-project">
        <li class="nav-item">
            <a class="nav-link" data-tab="overview" href="/project/{{project.id}}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="requirements" href="/project/{{project.id}}/requirement">Requirements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="attachments" href="/project/{{project.id}}/attachment">Attachments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="releases" href="/project/{{project.id}}/release">Releases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="modules" href="/project/{{project.id}}/module">Modules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="test-cases" href="/project/{{project.id}}/test-case">Test Cases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="issues" href="/project/{{project.id}}/issues">Issues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="test-plans" href="/project/{{project.id}}/test-plan">Test Plans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="test-runs" href="/project/{{project.id}}/test-run">Test Runs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="reports" href="/project/{{project.id}}/report">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-tab="activity" href="/project/{{project.id}}/activity">Activity log</a>
        </li>
    </ul>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('#navbar-in-project .nav-item a');

        // Function to remove active state from all tabs
        function removeAllActiveTabs() {
            navLinks.forEach(link => {
                link.classList.remove('active-tab');
            });
        }

        // Function to set active tab based on data-tab attribute
        function setActiveTab(tabName) {
            removeAllActiveTabs();
            const activeTabLink = document.querySelector(`#navbar-in-project .nav-link[data-tab="${tabName}"]`);
            if (activeTabLink) {
                activeTabLink.classList.add('active-tab');
            }
        }

        // Set active tab on page load based on URL
        function setActiveTabBasedOnURL() {
            const pathArray = window.location.pathname.split('/');
            const projectIdIndex = pathArray.indexOf('project');
            const activeTab = pathArray[projectIdIndex + 2]; // phần tử tiếp theo sau project

            switch (activeTab) {
                case 'requirement':
                    setActiveTab('requirements');
                    break;
                case 'attachment':
                    setActiveTab('attachments');
                    break;
                case 'release':
                    setActiveTab('releases');
                    break;
                case 'module':
                    setActiveTab('modules');
                    break;
                case 'test-case':
                    setActiveTab('test-cases');
                    break;
                case 'test-run':
                    setActiveTab('test-runs');
                    break;
                case 'issues':
                    setActiveTab('issues');
                    break;
                case 'report':
                    setActiveTab('reports');
                    break;
                case 'activity':
                    setActiveTab('activity');
                    break;
                default:
                    setActiveTab('overview');
                    break;
            }
        }

        setActiveTabBasedOnURL();

        // Event listener for clicking on tabs
        navLinks.forEach(link => {
            link.addEventListener('click', function () {
                removeAllActiveTabs();
                this.classList.add('active-tab');
            });
        });
    });
</script>
